#!/usr/bin/make -f

export DH_ELPA_TEST_ERT_LOAD_PATH=/usr/share/emacs/site-lisp/haskell-mode
export DH_ELPA_TEST_ERT_HELPER=debian/ert-helper.el

%:
	dh $@ --parallel --with elpa

override_dh_installchangelogs:
	cat CHANGES.rst CHANGES.old > debian/.debhelper/changelog
	dh_installchangelogs debian/.debhelper/changelog

override_dh_auto_build:
	/bin/true
