#!/usr/bin/make -f

%:
	dh $@ --parallel --with elpa

override_dh_auto_build:
	/bin/true

override_dh_auto_test:
	# see 0003-patch-C-tests.patch for explanation of use of
	# LC_ALL here
	LC_ALL=C \
	emacs --batch -Q \
		--eval "(progn (require 'package) (add-to-list 'package-directory-list \"/usr/share/emacs/site-lisp/elpa-src\"))" \
		-f package-initialize \
		-L /usr/share/emacs/site-lisp/dash-el \
		-l test/run.el
