#!/usr/bin/make -f

%:
	dh $@ --parallel --with elpa

override_dh_auto_build:
	/bin/true

override_dh_auto_test:
	LC_ALL=C \		# see 0003-patch-C-tests.patch
	TERM=dumb \ 		# to prevent epg prompting for passphrases
	emacs --batch -Q \
		--eval "(progn (require 'package) (add-to-list 'package-directory-list \"/usr/share/emacs/site-lisp/elpa-src\"))" \
		-f package-initialize \
		-L /usr/share/emacs/site-lisp/dash-el \
		--eval "(setq epg-gpg-home-directory \"/tmp\")" \ # so gpg can be invoked
		-l test/run.el
